{% extends 'base.html' %}


{% block body %}

<button type="submit" onclick="volver()" id=volver><strong>Volver</strong></button>

<div id="caja_gris">
 
  <div class="h2falso">
    <center>
      <h1>Reglas:</h1>
    </center>
  </div>
 
  <p>
<h1>

</h1>
  <div class="h2falso">
   <strong> <h2 align="center"><b>Inicio</b></h2></strong>
</div>
  <div class="negrita"><p>¿Como se juega?</p></div>

<h3>
<p>
El truco se juega utilizando una baraja española de 40 cartas y es de a dos personas a la vez.  
</p>

<p>A continuacion el jugador que es "mano", es decir, quien se encuentra a la derecha del repartidor, es el que debe jugar en primer lugar. El otro jugador responderá con una de sus cartas y asi sucesivamente. La idea del juego es utilziar las 3 cartas de la mejor manera posible, para ganar por lo menos 2 de las tres partes de cada ronda. Mas adelante veremos los valores de las cartas y ciertas palabras claves que te serán de mucha utilidad a la hora de sumar puntos; recuerda que  la idea del Truco es convencer a tu oponente de que tenes un buen juego, más allá de las cartas que te hayan sido repartidas.
</p>
<p> El juego finaliza en el preciso instante en que un jugador o equipo alcanza o supera los 15 ó 30 puntos (dependendiendo de a cuanto se juegue el partido).</p> 
<div class="h2falso">
  <strong><h2 align="center">Desarrollo </h2></strong>
</div>
  <h3> 
 <p> El transcurso del juego ocurre en "manos" o rondas. En cada mano, el primer jugador abre el juego jugando una de las 3 cartas que tiene. Cada mano  (o ronda) del juego se divide en tres partes, identificadas como "Primera", "Segunda", "Tercera" que se corresponde con la carta jugada.</p>

  <p>  Entonces, el primer jugador inicia la "Primera" jugando, de entre las 3 que tiene, la carta que considere mas oportuna, cuyos valores los conoceremos mas adelante.</p>

 <p>   A continuacion veremos las palabras clave, que no son otra cosa que puntos  que se ponen en juego durante cada ronda. Recuerda que junto con tus cartas, estos puntos son lo que te permitirán demostrar tus habilidades a la hora de jugar al Truco. Las palabras clave son: <strong>Flor,Envido y Truco</strong>, cada una con sus respectivas variantes.

  </p>
<div class="h2falso">
  <strong><h2 align="center"> Flor </h2></strong>
</div>
    <h3> 
  <p>  La flor es algo asi como un regalo del mazo y muchas veces los jugadores acuerdan no utilizarla. En caso de que decidan jugar con "Flor" mejor que prestes atención: un jugador puede cantar "Flor" si las tres cartas que le tocan resultan ser del mismo palo, y ojo, en esto no podes mentir.</p>

<p>La Flor se utiliza durante la "primera" es decir, el jugador puede cantar Flor antes de colocar su primera carta sobre la mesa. Cuando uno de los jugadores canta Flor el contrincante puede responder de varias maneras:</p>
<ul>
    <li>Si no tiene Flor, simplemente no dice nada y el jugador con la Flor obtiene automáticamente 3 puntos (esto es por lo cual muchos deciden no jugar con Flor ya que otorga ventajas independientemente de tu habilidad para utilizar tus cartas)
  
</li>  
  <li>Si el otro jugador tambien tiene Flor aquí se cuentan puntos por ambas y entonces tiene 3 opciones para responder:
</li>
</ul>

    

<p> <div class="negrita">2- No quiero:</div> esto significa que también tiene Flor, pero considera que es muy pequeña para ganar.</p>

<p> <div class="negrita">2- Contra Flor:</div> Aquí el otro jugador indica que tiene una Flor lo bastante buena como para competir por los puntos. En este caso, cada jugador indica cuánto vale su Flor y la mayor se lleva los puntos en juego, que aquí son 6 puntos (3 por cada Flor ya que ambas compiten)
</p>
<p><div class="negrita"> 3- Contra flor Al Resto:</div> El jugador responde este modo cuando considera que su Flor es muy alta. El procedimiento es igual que en el paso anterior y cada jugador indica cuántos puntos tiene, pero la diferencia de puntos que le falta a quien va ganando, para llegar 30.
</p>
  <p><div class="negrita"> Características de la Flor:</div> la Flor sólo puede utilizarse en la "Primera" parte de la ronda. Si alguien te ha cantando Flor y vos tenes una también, la respuesta que des dependerá puramente de tus cartas y de cuál sea tu estrategia de juego, Puede optar por "No Quiero" si no quieres arriesgarte o incluso decir Contra Flor, o Contra Flor Al Resto aún teniendo una Flor pequeña, y arriesgarte a perder o ganar la partida segun tu suerte.
</p>  

      <p>No tenes obligacion de siempre cantar la Flor. Si crees que es conveniente y podes obtener mas puntos cantando Envido, podes hacerlo.
      </p>
   <div class="h2falso">
  <h2 align="center"><strong>Envido</strong>  </h2>
   </div>
   <p> El Envido es, al igual que la Flor, un punto extra que sólo puede jugarse durante la "Primera". Para cantar "Envido" sólo necesitas tener 2 cartas del mismo palo. A diferencia de la Flor, aca podes mentir y decir "Envido" aunque no tengas las cartas necesarias, o no decir nada y dejar pasar la oportunidad aunque tengas un buen juego. Eso si, a la hora de contar los puntos no vale decir mentiras ya que al final se muestran tus cartas.</p>

<p>Entonces, para cantar "Envido" hay que ser astuto/a a la hora de jugar, para lgorar que el contrincante caiga en tu juego y no queira los puntos si no tienes cartas o que sí los quiera pensando que puede ganarte y hacer que se lleve una sorpresa. Hay varios tipos de "Envido" que puedes cantar y tambien responder cuando alguien te diga "Envido". </p> 

  <p><div class="negrita"> Cantar el Envido:</div>
   <li>Envido: aquí se ponen en juego 2 puntos, que gana quien tenga el mayor Envido.</li> 
  <div class="negrita">  Real Envido:</div><li> En este caso se juegan 3 puntos.</li>
   <div class="negrita"> Falta Envido:</div> <li> Al igual que en el caso de Contra Flor Al Resto, aquí se juegan los puntos que le faltan para ganar, a quien tiene el puntaje mas alto. Es decir, si el partido va 20-10 el "Falta Envido" valdra en este caso 1o puntos.</li>
</p>
    <p><div class="negrita"> Contestar el Envido:</div></p>
  <p>  Tengas o no un buen juego, o simplemente para molestar a tu oponente cuando se ha cantado el Envido puedes optar por alguna de estas respuestas:
</p>
  <p>  <div class="negrita">  No quiero:</div> <li>implica que no aceptas el reto, sólo le otorgas 1 punto al contrincante.</li></p>
    <p><div class="negrita"> Quiero:</div><li> con esto aceptas el juego propuesto y compites por cualquiera de los puntos según el tipo de Envido en juego.</li></p>

   <p> También puede elevar la apuesta y responder con cualquiera de las opciones de Envido. Aquí los puntos en juego se suman según lo que se haya cantado, por ejemplo:</p>

  <p>  Jugador 1 canta: Envido y Jugador 2 responde: Envido. Aquí se juegan 4 puntos.</p>

   <p><div class="negrita">  Para tener en cuenta:</div></p>

<p>    Cuando un jugador dice "Quiero" y cierra la jugada, ambos deben decir cuántos puntos tienen. El que tenga mayor puntaje gana el Envido. Si ambos jugadores tienen los mismos puntos, el ganador es automáticamente  el jugador "mano".</p>

<p>    Al elevar la apuesta, sólo puedes repetir cada cosa una vez, y luego debes pasar a alguna opción más alta.</p>

    <p>Cuando alguno de los jugadores canta "Falta Envido", que es la opción de mayor puntaje, sólo se puede responder "Quiero" o "No Quiero"
</p>
   <p> Para cerrar la jugada siempre hay que responder "Quiero" o "No Quiero" caso contario no se suman los puntos.</p>
   <p> Cuando se eleva la apuesta y finalmente un jugador dice "No Quiero" el ganador se lleva 1 punto por cada apuesta hecha.</p>

    <p>Cómo calcular el Envido:</p>
<p>    Para cantar el Envido necesitas en principio conocer el valor de las cartas:</p>

    <p><div class="negrita"> <li>Figuras</div> (10-11-12): 0 puntos</li></p>
    <p><div class="negrita"> <li>Demás cartas</div>(1-2-3-4-5-6-7): poseen su valor de imagen, es decir, el 1 vale 1 punto y el 2 vale 2 puntos respectivamente.</li></p>

 <p>   Entonces: Se suma el puntaje de las 2 cartas del mismo palo y a ese valor se le agregan 20 puntos. Por ejemplo. con un 5 y un 3 el Envido valdría 28 puntos (5+3+20); con 2 figuras el valor sería 20 (0+0+20)</p>
<div class="h2falso">
    <h2 align="center">
      <strong>Truco</strong>
    
    </h2>
</div>
<h3>
<p>El Truco puede jugarse en cualquiera de las 3 partes de una mano, aunque por regla general "primero esta el Envido". Si un jugador inicia la ronda cantando "Truco", el otro jugador tiene derecho a cantar Envido o Flor si lo considera oportuno, y sn estas las que deben jugarse primero. Una vez finalizado el Envido, los jugadores quedan habilitados para cantar y jugar el Truco.
</p>
  <p>Cuando un jugador canta Truco, el primer paso es que el otro jugador acepte o no el desafío. Para esto tambien se utilizan las opciones "Quiero" o "No Quiero".</p>
  <p>Cuando alguien responde "No Quiero" al Truco, se da por terminada la ronda y el jugador que cantó el Truco se lleva 1 punto. Al decir "Quiero" estamos aceptando el Truco, y se ponen 2 puntos en juego. A partir de ahí puede jugarse toda la ronda por esos 2 puntos o elevar la apuesta.</p>
  <p>Para ganar el Truco hay que tener en cuenta las 3 partes de la ronda, ya que los puntos del Truco se los lleva quien gane 2 de 3</p>
  <p>Ganar 2 de 3 implica "matar" por lo menos 2 de las cartas del oponente durante la ronda. Más adelante tienes un cuadro con el valor de las cartas para jugar el Truco, que es diferente al valor que se les da para el envido (no te asustes, esto en realidad es muy sencillo y sólo requiere un poco de practica para recordarlo).</p>
  <p>Subiendo la apuesta:</p>
  <p>El jugador que acepta o "Quiere" el Truco, puede continuar hasta el final por los 2 puntos, o elevar un poco la apuesta. Esto se hace cantando "Quiero Retruco" lo que implica jugar por 3 puntos. El otro jugador debe aceptar el nuevo reto diciendo "Quiero" o "No Quiero".</p>
  <p>En caso de decir "Quiero", el jugador acepta la nueva apuesta y se juega por 3 puntos.</p>

  <p>En el caso de que el jugador al haber dicho "Quiero" al "retruco" se puede elevar una vez mas la apuesta diciendo "Vale Cuatro" lo cual es el maximo de puntos que se puede llegar por el Truco que son 4 puntos.</p>
</h3>
    <center><img src="https://i.imgur.com/uMmrBpR.png"></img></center>
</div>



{% endblock %}


{% block script %}

<script>
function volver(){
  location.href = "/salaDeEspera"
}

</script>

{% endblock %}